# Data Open Lecture: An Introduction of Python

### Fangda Fan

### Apr 2018

jupyter-nbconvert --to slides ./PythonDataLecture.ipynb --reveal-prefix=reveal.js

## Contents

- Basic Python Syntax
- Numpy Array for Vectorize Operation
- Pandas DataFrame for Data Analysis
- Statsmodels for Statistical Modeling
- Scikit-learn for Machine Learning
- Review: Data Analysis for Titanic

## Preparation

- Download and Install [Anaconda](https://www.continuum.io/downloads) (Python 3 version)
- Run command in a new shell: `jupyter lab`
- If you run jupyter lab in a linux server through ssh, open a new terminal
    - `ssh -L 8000:localhost:(jupyter port, default is 8888) (user)@(server address)`
    - after log in, `jupyter notebook list`, check and copy the token of your jupyter
    - open browser http://localhost:8000/, enter the token
- Create a new notebook: Left-upper area -> "+" (New launcher) -> Notebook -> Python 3

## Our Goal

- Focus on how to *manipulate* and *analyze data* with Python
- Vectorization operation (Not hard if you transfer python from R)
- Introduce common python packages/tools for data analysis

## What is Python?

- A widely used high-level, general-purpose language
- Highly readable
- Abundant Modules
- A [comparsion](https://www.datacamp.com/community/tutorials/r-or-python-for-data-analysis) between Python and R
- A [poll](https://www.kdnuggets.com/2017/08/python-overtakes-r-leader-analytics-data-science.html) of Platform for Analytics, Data Science and Machine Learning:
    - R: 36% (2017) vs. 42% (2016)
    - Python: 41% (2017) vs. 34% (2016)
    - Both: 12% (2017) vs. 8.5% (2016)
    - Others: 11% (2017) vs. 16% (2016)

In [1]:
import pandas as pd
da = pd.DataFrame([[36, 42], [41, 34], [12, 8.5], [11, 16]], 
                  index = ["R", "Python", "Both", "Others"], 
                  columns = ["2017", "2016"])
da

        2017  2016
R         36  42.0
Python    41  34.0
Both      12   8.5
Others    11  16.0

In [2]:
da.mean(axis = 1)

R         39.00
Python    37.50
Both      10.25
Others    13.50
dtype: float64

In [3]:
da = da.sort_index(axis=1)
da

        2016  2017
R       42.0    36
Python  34.0    41
Both     8.5    12
Others  16.0    11

In [4]:
da = da.sort_values("2017", ascending=False)
da

        2016  2017
Python  34.0    41
R       42.0    36
Both     8.5    12
Others  16.0    11

In [5]:
da.plot(kind = "bar")

## How to get help

- From Function Help: ? + function
    - ?pd.DataFrame
    - ?da.plot
- From Books:
    - [**Python for Data Analysis**](http://opencarts.org/sachlaptrinh/pdf/28232.pdf), 2nd Edition, Wes McKinney
- From Online Tutorial: 
    - Python Basics: https://python.swaroopch.com/
    - DataCamp Course: https://www.datacamp.com/
- From Google: Your Question (what you want to do) + Python
    - R table function in Python
    - string operation Python

In [6]:
?da

Type:        DataFrame
String form:
        2016  2017
Python  34.0    41
R       42.0    36
Both     8.5    12
Others  16.0    11
Length:      4
File:        ~/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py
Docstring:
Two-dimensional size-mutable, potentially heterogeneous tabular data
structure with labeled axes (rows and columns). Arithmetic operations
align on both row and column labels. Can be thought of as a dict-like
container for Series objects. The primary pandas data structure

Parameters
----------
data : numpy ndarray (structured or homogeneous), dict, or DataFrame
    Dict can contain Series, arrays, constants, or list-like objects
index : Index or array-like
    Index to use for resulting frame. Will default to np.arange(n) if
    no indexing information part of input data and no index provided
columns : Index or array-like
    Column labels to use for resulting frame. Will default to
    np.arange(n) if no column labels are provided
dtype : dtype, default None
    Data type to force. Only a single dtype is allowed. If None, infer
copy : boolean, default False
    Copy data from inputs. Only affects DataFrame / 2d ndarray input

Examples
--------
Constructing DataFrame from a dictionary.

>>> d = {'col1': [1, 2], 'col2': [3, 4]}
>>> df = pd.DataFrame(data=d)
>>> df
   col1  col2
0     1     3
1     2     4

Notice that the inferred dtype is int64.

>>> df.dtypes
col1    int64
col2    int64
dtype: object

To enforce a single dtype:

>>> df = pd.DataFrame(data=d, dtype=np.int8)
>>> df.dtypes
col1    int8
col2    int8
dtype: object

Constructing DataFrame from numpy ndarray:

>>> df2 = pd.DataFrame(np.random.randint(low=0, high=10, size=(5, 5)),
...                    columns=['a', 'b', 'c', 'd', 'e'])
>>> df2
    a   b   c   d   e
0   2   8   8   3   4
1   4   2   9   0   9
2   1   0   7   8   0
3   5   1   7   1   3
4   6   0   2   4   2

See also
--------
DataFrame.from_records : constructor from tuples, also record arrays
DataFrame.from_dict : from dicts of Series, arrays, or dicts
DataFrame.from_items : from sequence of (key, value) pairs
pandas.read_csv, pandas.read_table, pandas.read_clipboard

# Basic Python Syntax

## Contents

1. Number
2. String
3. List
    - For-loop
4. Dictionary
5. Tuple
6. Boolean
    - If-else condition
7. Function
8. Other Special Commands

## Basic Python Syntax (1): Number

In [7]:
1 + 2 + 3

6

In [8]:
# compute 4 * 0.5 and save value as variable 'a'
a = 4 * 0.5
a

2.0

In [9]:
# variable 'a' to the power 10
a ** 10

1024.0

In [10]:
(a - 6) / 3

-1.3333333333333333

In [11]:
# add and replace
a += 10
a

12.0

## Basic Python Syntax (2.1): String

- A string can be created by either ' or "

In [12]:
b = "green apple"
# Select the substring at index 0 (head character)
b[0]

'g'

In [13]:
# Slice from index 4 to 7 (right-side not included)
b[6:8]

'ap'

In [14]:
# Slice from index 4
b[6:]

'apple'

In [15]:
# A multi-lines string can be created with triple quotes ''' or """
'''
For the earth shall be full of the knowledge of the LORD
    as the waters cover the sea.
(Isaiah 11:9 ESV)
'''

'\nFor the earth shall be full of the knowledge of the LORD\n    as the waters cover the sea.\n(Isaiah 11:9 ESV)\n'

## Basic Python Syntax (2.2): String Function

In [16]:
# Concatenate string b with another string "green apple"
b + 'red apple'

'green applered apple'

In [17]:
# Repeat the same string for 3 times
b * 3

'green applegreen applegreen apple'

In [18]:
# Function format() in a string uses a brace '{}' to assign values

pi = 3.1415
r = 2.0
"The area of circle with radius {} is {:.3f}".format(r, pi * r ** 2)

'The area of circle with radius 2.0 is 12.566'

In [19]:
# format() also use key words as arguments
"I have 2 {item}s, one is a {item}, the other one is also a {item}".format(item=b)

'I have 2 green apples, one is a green apple, the other one is also a green apple'

In [20]:
# Split by character
b.split(" ")

['green', 'apple']

In [21]:
# Join by character
"-".join(['green', 'apple'])

'green-apple'

## Basic Python Syntax (3.1): List

- To store more than one values: [value0, value1, value2, ...]
- Values are accessed by position number
- Can contain mixed types of values

In [22]:
# Create a list with a square bracket
c = [1, 3, 5, 7]
c[1]

3

In [23]:
# Slice from index 1 to index 3 (right-side not included)
c[1:3]

[3, 5]

In [24]:
# Change the last value to 9 (-N denotes the Nth index counted from the tail)
c[-1] = 9
c

[1, 3, 5, 9]

In [25]:
# Replace position 1 to 3 with a new list [2, 4, 6, 8]
c[1:3] = [2, 4, 6, 8]
c

[1, 2, 4, 6, 8, 9]

## Basic Python Syntax (3.2): List Function

In [26]:
# Length of list c
len(c)

6

In [27]:
# Concatenate list c with another list (not elementwise plus!)
c + [1, 2, 3, 4, 5, 6]

[1, 2, 4, 6, 8, 9, 1, 2, 3, 4, 5, 6]

In [28]:
# Repeat the same list for 3 times (not elementwise multiply!)
c * 3

[1, 2, 4, 6, 8, 9, 1, 2, 4, 6, 8, 9, 1, 2, 4, 6, 8, 9]

In [29]:
# Append a new element "apple" to the last of list c
c.append("apple")
c

[1, 2, 4, 6, 8, 9, 'apple']

In [30]:
# Insert "red" to position 3 of list c
c.insert(3, "red")
c

[1, 2, 4, 'red', 6, 8, 9, 'apple']

In [31]:
# Search for the index of an element in a list
c.index(8)

5

In [32]:
# Return and remove element from a list
c.pop(5)

8

In [33]:
c

[1, 2, 4, 'red', 6, 9, 'apple']

## Basic Python Syntax (3.3): For-loop

In [34]:
# A common for-loop: square of 0 to 9
output = []
for i in range(10):
    value = i ** 2
    output.append(value)
output

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
# An list-inside for-loop: square of 0 to 9
[i ** 2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [36]:
# An list-inside for-loop with if-conditions
[i ** 2 for i in range(10) if i > 4]

[25, 36, 49, 64, 81]

In [37]:
# Nested List
[[i, j] for i in range(4) for j in range(4) if i > j]

[[1, 0], [2, 0], [2, 1], [3, 0], [3, 1], [3, 2]]

In [38]:
# An list can be directly used as iterator
[i * 3 for i in ["a", "ab", 3, 4, [5, 6]]]

['aaa', 'ababab', 9, 12, [5, 6, 5, 6, 5, 6]]

In [39]:
# enumerate gives numerical index of a iterator
for i, i_val in enumerate(["a", "b", "c", "d"]):
    print(i, i_val)

0 a
1 b
2 c
3 d

In [40]:
# zip() crete pairs when give multiple iterators
for i, j in zip(range(1, 10, 2), ["a", "b", "c", "d"]):
    print(i, j)

1 a
3 b
5 c
7 d

## Basic Python Syntax (4.1): Dictionary

- To store values with keys: {key0: value0, key1: value1, key2: value2, ...}
- Values are accessed by key, not position number

In [41]:
d = {"name": "gold", "price": 4000}
d

{'name': 'gold', 'price': 4000}

In [42]:
# Select the value with key "name" 
d["name"]

'gold'

In [43]:
# Update the value of price by plus 500
d["price"] += 500
d["price"]

4500

In [44]:
# Another way to create a dict: function dict()
dict(R = 51, Python = 29, others = 17, none = 2)

{'Python': 29, 'R': 51, 'none': 2, 'others': 17}

In [45]:
# Create a dict from two lists: function zip()
dict(zip(["R", "Python", "others", "none"], [51, 29, 17, 2]))

{'Python': 29, 'R': 51, 'none': 2, 'others': 17}

## Basic Python Syntax (4.2): Dictionary Functions

In [46]:
# Check all keys of dict d
d.keys()

dict_keys(['name', 'price'])

In [47]:
# Check all values of dict d
d.values()

dict_values(['gold', 4500])

In [48]:
# Update dict d with another dict
d.update({"price": 6000, "status": "sold out"})
d

{'name': 'gold', 'price': 6000, 'status': 'sold out'}

In [49]:
# List keys of dict d
list(d.keys())

['name', 'price', 'status']

In [50]:
# Remove an element from dict d
d.pop("price")
d

{'name': 'gold', 'status': 'sold out'}

In [51]:
# iteration over dictionary
for i in d:
    print("key: {}, values: {}".format(i, d[i]))

key: name, values: gold
key: status, values: sold out

## Basic Python Syntax (5): Tuple
- To store more than one fixed values: (value0, value1, value2, ...)
- Like a list, but cannot be revised

In [52]:
# Check the type of variable a, b, c, d
e = a, b
e

(12.0, 'green apple')

In [53]:
e[0]

12.0

In [54]:
# A tuple cannot be revised
e[1] = 0

TypeError: 'tuple' object does not support item assignment

In [55]:
# Switch values of a and b directly
b, a = a, b
a, b

('green apple', 12.0)

In [56]:
# Convert tuple to list
list(e)

[12.0, 'green apple']

In [57]:
# Convert iterator to tuple
tuple(range(5))

(0, 1, 2, 3, 4)

## Basic Python Syntax (6.1): Boolean

In [58]:
# Double equal sign "==" means whether two values are equal in value
1 + 1 == 2

True

In [59]:
# sign "!=" means unequal
1 + 1 != 2

False

In [60]:
4 < 3

False

In [61]:
4 >= 8/2

True

In [62]:
# Compare two strings index by index, according to alphabetical sort
"z" > "ab"

True

In [63]:
# "in" find whether a value is in a list
"banana" in ["apple", "banana", 3, 4, 5]

True

## Basic Python Syntax (6.2): If-else

- False logical indicators: False, None, 0, "", [ ], { }

In [64]:
a = 0
if(a):
    print("Hello!")

In [65]:
a = []
if(a):
    print("Hello!")
else:
    print("Goodbye!")

Goodbye!

In [66]:
a = [0]
if(a):
    print("Hello!")
else:
    print("Goodbye!")

Hello!

In [67]:
if(type(a) in ["int", "float"]):
    print("a is a number")
elif(type(a) == "str"):
    print("a is a string")
else:
    print("a is neither a number nor a string")

a is neither a number nor a string

## Basic Python Syntax (6.3): Boolean Opeations

- Logical operators (not, and, or): can be used on python built-in types
- Bitwise operators (~, &, |): can be used on numpy bool arrays

In [68]:
# "not": return True if the condition is False
not (1 + 1 == 2)

False

In [69]:
# "or", "|": return True if at least 1 condition is True
(2 > 3) or (2 <= 3)

True

In [70]:
(2 > 3) | (2 <= 3)

True

In [71]:
# "and", "&": return True if both 2 conditions are True 
"abc" and (2 <= 3)

True

In [72]:
(2 > 3) & (2 <= 3)

False

## Basic Python Syntax (7): Python Function

- lambda: need no name or return(), usually for short function
- def: need a name and return(), usually for long function and reuse

In [73]:
(lambda x: x + 1)(3)

4

In [74]:
def minus(x, y):
    output = "{} - {} = {}".format(x, y, x - y)
    return(output)
minus(6, 2), minus(x = 5, y = 2), minus(y = 2, x = 3)

('6 - 2 = 4', '5 - 2 = 3', '3 - 2 = 1')

In [75]:
# Set default value to function
def minus(x = 10, y = 3):
    output = "{} - {} = {}".format(x, y, x-y)
    return(output)
minus(), minus(y = 6), minus(x = 4)

('10 - 3 = 7', '10 - 6 = 4', '4 - 3 = 1')

In [76]:
# Use * to expand list, and ** to expand dict
parlist = [8, 1]
pardict = {"y": 14, "x": 9}
minus(*parlist), minus(**pardict)

('8 - 1 = 7', '9 - 14 = -5')

## Basic Python Syntax (8): IPython Commands

- _: return the last output
- %: run magic syntax of ipython notebook
- !: run shell commands

In [77]:
_

('8 - 1 = 7', '9 - 14 = -5')

In [78]:
_23

[3, 5]

In [79]:
# %timeit: check running time
%timeit [i ** 100 for i in range(1000)]

979 µs ± 24.9 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [80]:
# %cd: change working directory 
%cd .

/Users/fangda/Stat/Data-Open-Lecture

In [81]:
# ! + shell commands
!ls -l

total 27344
-rw-r--r--  1 fangda  staff  2706527 Apr  5 11:03 Diamonds.csv
-rw-r--r--  1 fangda  staff   728604 Apr  5 11:03 Diamonds_predict_true.csv
-rw-r--r--  1 fangda  staff    48779 Apr 23 14:12 PyDataLecture1_Basic.ipynb
-rw-r--r--  1 fangda  staff    27328 Apr 23 12:15 PyDataLecture2_Numpy.ipynb
-rw-r--r--  1 fangda  staff   299054 Apr 23 14:11 PyDataLecture3_Pandas.ipynb
-rw-r--r--  1 fangda  staff  2518502 Apr 23 14:08 PyDataLecture4_Statsmodels.ipynb
-rw-r--r--  1 fangda  staff   108566 Apr 23 10:14 PyDataLecture5_Scikit-learn.ipynb
-rw-r--r--  1 fangda  staff   439076 Apr 23 10:15 PyDataLecture6_Review.ipynb
-rw-r--r--  1 fangda  staff  1922523 Apr  5 11:03 PythonDataLecture.slides.html
-rw-r--r--  1 fangda  staff     1259 Apr 23 10:29 README.md
-rw-r--r--  1 fangda  staff    44522 Apr  5 11:03 RLecture.Rmd
-rw-r--r--  1 fangda  staff  3422569 Apr  5 11:03 RLecture.html
-rw-r--r--  1 fangda  staff  1649724 Apr  5 11:03 Rlecture_data_facebook.txt
-rw-r--r--  1 fangda  staff    60302 Apr  5 11:03 Titanic.csv